#choropleth_map {
	width: max-content;
}

.page{
	width: 1400px;    
	background-color: #ffe400;
	margin: auto;
	padding-top: 35px;
}


/* https://stackoverflow.com/questions/47545136/centering-an-object-within-a-grid-width-using-purecss */
.center-item{
	margin: 0 auto;
	/* margin-left: auto;
	margin-right: auto; */
	width: 50%;
}

.pure-g{
	display: flex;
	justify-content: center;
}

/* .pure-g-center{
	
} */

.marginal-text-box{
    margin-left: 10px;
    margin-right: 10px;
}








